spring:
  application:
    name: cart

  config:
    import: optional:configserver:http://configserver-ms:8071

  datasource:
    url: jdbc:mysql://cart-db:3306/cart_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: cart_user
    password: cart_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  redis:
    host: redis
    port: 6379

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true

  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://eurekaserver-ms:8070/eureka/

  info:
    app:
      name: "cart"
      description: "cart service"
      version: "1.0.0"

server:
  port: 8082
